---
BasedOnStyle: LLVM
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
ColumnLimit: 79
DerivePointerAlignment: false
IndentWidth: 4
Language: Cpp
PointerAlignment: Right
...
