---
BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 79
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignOperands: true
BreakBeforeBraces: WebKit
...
